* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
	font-family: "karla", sans-serif;
	font-weight: 400;
}
:root {
	--text: #392c2c;
	--green-dark: #35c361;
	--green-light: #96ed4c;
	--green-darker: #1c8364;
}
body {
	height: 100vh;
	width: 100vw;
	background: linear-gradient(
		to left,
		var(--green-dark),
		var(--green-light)
	);
	overflow-x: hidden;
}

.voltarIcon {
	height: 13px;
	width: 19px;
}

.title.small {
	margin-top: 2px;
	font-size: 11px;
	color: white;
}
.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 20px;
	margin-left: 19px;
	margin-bottom: 10px;
}
header a {
	font-size: 16px;
	color: var(--green-darker);
	white-space: nowrap;
}
header .logo {
	position: absolute;
	left: 50%;
	height: 32px;
	width: 32px;
}
label,
p {
	font-size: 14px;
	color: var(--text);
}
#main {
	display: flex;
	padding: 28px 56px;
	width: 100%;
	align-items: center;
	flex-direction: column;
	height: max-content;
	min-height: 100vh;
	border-radius: 30px 30px 0 0;
	background-color: white;
}


fieldset {
	text-align: center;
	flex-direction: column;
	display: flex;

	justify-content: center;
	padding: 20px;
	border: 1px solid var(--green-darker);
	border-radius: 5px;
	font-size: 14px;
	font-family: "karla", sans-serif;
	max-width: 80%;
}

form {
	display: flex;
	justify-content: center;
	width: 90%;
	align-self: center;
}

.titulo {
	color: #008051;
	font-size: 24px;
    margin-bottom: 20px;
}
.buttonWrapper {
	display: flex;
	justify-content: center;
	align-content: center;
    flex-direction: row;

}
.alt{
    background-color: white;
    color: var(--green-darker);
    border: 1px solid var(--green-darker);
}
button {
	font-family: "karla", sans-serif;
	font-size: 15px;
	margin-top: 40px;
	border-radius: 8px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	color: white;
	border: none;
    margin-left: 5px;
	height: 82px;
	padding: 14px 24px;
    text-align: left;
	width: 137px;
	background-color: #219653;
}
button:hover {
	background-color: #2196548e;
	transition: background-color 300ms;
}
button:active {
	border: 0;
	background-color: #2196543d;
}

