* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
	font-family: "karla", sans-serif;
	font-weight: 400;
}
:root {
	--text: #392c2c;
	--green-dark: #35c361;
	--green-light: #96ed4c;
	--green-darker: #1c8364;
}
body {
	height: 100vh;
	width: 100vw;
	background: linear-gradient(
		to left,
		var(--green-dark),
		var(--green-light)
	);
	overflow-x: hidden;
}

.voltarIcon {
	height: 13px;
	width: 19px;
}
.footer {
	display: flex;
	flex-direction: row;
	position: relative;
	left: -5px;
	flex-wrap: wrap;
}
.footer .item {
	margin-left: 5px;
	text-align: center;
}
.footer .item .footerSpan {
	color: var(--text);
	font-size: 10px;
}
.title.small {
	margin-top: 2px;
	font-size: 11px;
	color: white;
}
.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 20px;
	margin-left: 19px;
	margin-bottom: 10px;
}
header a {
	font-size: 16px;
	color: var(--green-darker);
	white-space: nowrap;
}
header .logo {
	position: absolute;
	left: 50%;
	height: 32px;
	width: 32px;
}
label,
p {
	font-size: 14px;
	color: var(--text);
}
#main {
	display: flex;
	padding: 28px 56px;
	width: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: max-content;
	min-height: 100vh;
	border-radius: 30px 30px 0 0;
	background-color: white;
}

input {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 95%;
	margin: 11px auto 5px 0px;
	border: 1px solid transparent;
	border-bottom-color: var(--green-darker);
}
.select {
	border: 1px solid transparent;
	background-color: transparent;
	color: gray;
	border-bottom-color: var(--green-darker) !important;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 95%;
	height: 100%;
}
.selectContainer {
	height: 61.2%;
}

fieldset {
	text-align: center;
	flex-direction: column;
	display: flex;

	justify-content: center;
	padding: 20px;
	border: 1px solid var(--green-darker);
	border-radius: 5px;
	font-size: 14px;
	font-family: "karla", sans-serif;
	max-width: 80%;
}

form {
	display: flex;
	justify-content: center;
	width: 90%;
	align-self: center;
}

.field {
	text-align: left;
	display: flex;
	flex-direction: column;
}
.inputLabel {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

textarea {
	border-radius: 5px;
	border: 1px solid var(--green-darker);
	padding: 8px;
}

.titulo {
	color: #008051;
	font-size: 24px;
}
.buttonContainer {
	display: flex;
	justify-content: center;
	align-content: center;
}

.question {
	text-align: left;
	font-size: 14px;
	color: var(--text);
}
button {
	font-family: "karla", sans-serif;
	font-size: 15px;
	margin-top: 40px;
	border-radius: 8px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	color: white;
	border: none;
	height: max-content;
	padding: 13px 24px;
	width: 80%;
	background-color: #219653;
}
button:hover {
	background-color: #2196548e;
	transition: background-color 300ms;
}
button:active {
	border: 0;
	background-color: #2196543d;
}

@media (min-width: 700px) {
	fieldset {
		width: 70%;
	}
	.cards {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	.card {
		width: 45%;
		margin-right: 8px;
	}
	.searchContainer {
		width: 60%;
		text-align: center;
	}
	.filterContainer {
		width: 40%;
	}
	.field {
		display: flex;
		flex-direction: row;
	}

	.inputLabel.nomeEmpresa {
		width: 50%;
	}

	.inputLabel.email {
		width: 40%;
	}
	.inputLabel.cep {
		width: 20%;
	}

	.inputLabel.rua {
		width: 100%;
	}

	.inputLabel.numero {
		width: 30%;
	}
	.inputLabel.complemento {
		width: 50%;
	}

	.inputLabel.bairro {
		width: 50%;
	}

	.inputLabel.cidade {
		width: 50%;
	}

	.inputLabel.UF {
		width: 50%;
	}
	.inputLabel.telefone {
		width: 50%;
	}

	.inputLabel.CPF {
		width: 50%;
	}
}
