* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
	font-family: "karla", sans-serif;
	font-weight: 400;
}
:root{
	--text: #392c2c;
	--green-dark: #35C361;
	--green-light: #96ED4C;
	--green-darker: #1C8364;
}
body {
	height: 100vh;
	width: 100vw;
	background:linear-gradient(to left, var(--green-dark),var(--green-light));
	overflow-x: hidden;
}
.hide {
	display: none;
}
.searchContainer{
	position: relative;
	top: 0px;
	height: max-content;
}

.voltarIcon {
	height: 13px;
	width: 19px;
}
.footer{
	display: flex;
    flex-direction: row;
    position: relative;
    left: -5px;
	flex-wrap: wrap;
}
.footer .item{
	margin-left: 5px;
	text-align: center;
}
.footer .item .footerSpan{
	color: var(--text);
	font-size: 10px;
}
.title.small{
	margin-top: 2px;
	font-size: 11px;
	color: white
}
.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 20px;
	margin-left: 19px;
	margin-bottom: 10px;
}
header a {
	font-size: 16px;
	color: var(--green-darker);
	white-space: nowrap;
}
header .logo {
	position: absolute;
	left: 50%;
	height: 32px;
	width: 32px;
}

main {
	display: flex;
	padding: 28px 56px;
	left: 50%;
    transform: translateX(-50%);
	position: absolute;
	width: 100%;
	justify-content: start;
	align-items: center;
	flex-direction: column;
	height: max-content;
	min-height: 100vh;
	border-radius: 30px 30px 0 0;
	background-color: white;
}
main h2 {
	color: var(--green-darker);
	font-size: 20px;
	align-self: center;
}
main .pesquisa {
	padding-left: 5px;
	width: 100%;
	height: 100%;
	border: none;
}
.input {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 90%;
	margin: 11px auto 5px 0;
	border: 1px solid transparent;
	border-bottom-color: var(--green-darker);
}
main .input img {
	width: 12px;
	height: 12px;
}
.card {
	width: 90vw;
	height: max-content;
	background:linear-gradient(-112deg, var(--green-darker),var(--green-light));
	border-radius: 12px;
	padding: 19px 13px;
	margin-top: 8px;
	transition: background-color 5s;
}
.content.epoca{
	text-transform: capitalize;
}
.filterContainer {
	display: flex;
	width: 92%;
	justify-content: flex-start;
}
.card header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;
	margin-bottom: 23px;
}
.card .circle {
	width: 75px;
	height: 75px;
	background-color: white;
	border-radius: 100px;
	display: flex;
	margin-right: 10px;
	align-items: center;
	justify-content: center;
}
.card header h2 {
	color: white;
	font-family: "karla", sans-serif;
	font-size: 28px;
	text-transform: capitalize;
}
.card header img {
	height: 50px;
	width: 50px;
}
.info .title {
	font-size: 14px;
	color: white;
	white-space: nowrap;
	margin-bottom: 4px;
}
.info .content {
	font-size: 11px;
	text-align: left;
	color: var(--text);
	margin-left: 10px;
}

.filter {
	border: none;
	background-color: transparent;
	color: gray;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.filterbox{
	border: 1px solid transparent;
	border-bottom-color: var(--green-darker);
	width: 55%;
	
}
.filter option {
	color: var(--green-dark);
}

.cards{
	display: block;
}
@media (min-width: 700px) {
	.cards{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	.card{
		width: 45%;
		margin-right: 8px;
	}
	.searchContainer{
		width: 60%;
		text-align: center;
	}
	.filterContainer{
    	width: 40%;
	}
}